CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/.vs/Rıdvan Gürsoy/v16/Browse.VC.db
/.vs/Rıdvan Gürsoy/v16/Browse.VC.opendb
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/4_Pointer_Dizi/.vs/4_Pointer_Dizi/v16/Browse.VC.opendb
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/4_Pointer_Dizi/.vs/4_Pointer_Dizi/v16
/.vs
/Ornekler
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main/.vs/main/v16
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main/main.vcxproj.user
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main/main.vcxproj.filters
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main/main.vcxproj
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main/main.sln
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/4_Pointer_Dizi/main
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main/.vs/main/v16
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main/main.sln
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main/main.vcxproj
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main/main.vcxproj.filters
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main/main.vcxproj.user
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/main
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/.vs/5_Class_1/v16
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/5_Class_1.sln
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/5_Class_1.vcxproj
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/5_Class_1.vcxproj.filters
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/5_Class_1.vcxproj.user
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/Debug/5_Class_1.tlog
/Sinif_Listesi/Muhammed_Ridvan_Gursoy/5_Class_1/Debug
/CppProperties.json
